# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Data (optional)
# Uncomment the next line if you don't want to track datasets
data/*.csv
